.. _vp{{ versiondata.version.replace(".", "p") }}:

{{ top_line }}
{{ top_underline * top_line|length }}
{% for section, _ in sections.items() %}
{% set underline = underlines[0] %}

{% if sections[section] %}
{% for category, category_data in definitions.items() if category in sections[section] %}
{{ category_data['name'] }}
{{ underline * category_data['name']|length }}
{% if category_data['showcontent'] %}
{% for text, issues in sections[section][category].items() %}
{% if '\n' not in text.strip() %}
- {{ text }} ({{ issues|join(', ') }})
{% else %}
{% set first_line, rest = text.strip().split('\n', 1) %}
- {{ first_line }} ({{ issues|join(', ') }})
  {{ rest.split('\n')|join('\n  ') }}
{% endif %}
{% endfor %}

{% else %}
- {{ sections[section][category]['']|join(', ') }}

{% endif %}
{% endfor %}
{% else %}
No significant changes.


{% endif %}
{% endfor %}
