[flake8]
max-line-length = 100
statistics = true
count = true

noqa-require-code = true
pytest-mark-no-parentheses = true

exclude =
    .git
    __pycache__
    .nox
    .eggs
    *.egg
    *.egg-info
    .vscode
    .venv
    venv
    .mypy_cache
    .pytest_cache
    build

# For error codes, see this https://flake8.pycqa.org/en/latest/user/error-codes.html
ignore =
    # whitespace before ':', linebreak before operator. Not compatible with black
    E203,W503,
    # ignore linebreak after `/` operator
    W504,
    # line too long. Acceptable at the moment since these are mostly comments
    E501,
    # assigning lambdas to variables
    E731,
    # ignore try-except-pass. Bare excepts are caught with B001 and E722
    S110,
    # ignore multiple `##` starting a comment
    E266,

per-file-ignores =
    # unused imports, star imports
    */__init__.py: F401, F403
    # ignore whitespacing on flags
    disnake/audit_logs.py:E241
    # ignore whitespacing on flags
    disnake/enums.py:E221,E241
    # ignore subprocess usage
    disnake/player.py:S404,S603
    # ignore whitespacing after `:`
    disnake/ext/commands/params.py:E241
    # upstream bug: https://github.com/PyCQA/bandit/issues/926
    disnake/backoff.py:S311
    disnake/colour.py:S311
    # pytest uses assert for testing
    tests/**: S101
    # ignore pytest issues outside of tests directory
    disnake/**: PT
    docs/**: PT
    examples/**: PT

    # B008: runtime function calls are how Params work,
    # S311: examples don't misuse random generation
    # S105: possible hardcoded passwords TODO
    examples/**:B008,S311,S105
    test_bot/**:B008
    # usage of assert and interface binding, allowable for the third party lib at use
    # also have to reignore whatever is from the last check that pops up here
    examples/basic_voice.py:S101,S104
    # ignore ambiguous variable names
    # Todo: remove this check
    examples/views/tic_tac_toe.py:E741
