# SPDX-License-Identifier: MIT

*.json
*.py[cod]
*.log
*.log.[0-9]*
*.egg-info
venv
.venv
docs/_build
docs/crowdin.py
*.buildinfo
*.mp3
*.m4a
*.wav
*.jpg
*.flac
*.mo
test.py
TODO.md
build
dist
ADVANCED.rst
secrets/
*_test.py
*.env
!example.env
venvs/
.nox/
.idea
.coverage*
coverage.xml
__pypackages__/
.pdm.toml
pdm.lock

!test_bot/locale/*.json
