# - `eol=lf` to make hashFiles in CI consistent (windows <3) (see https://github.com/actions/runner/issues/498)
# - `export-subst` makes git expand/replace the `describe-subst` field value when creating an archive
pyproject.toml text eol=lf export-subst
