nox>=2022.1.7

pre-commit~=2.17.0
taskipy~=1.10.1
slotscheck~=0.13.0
mypy~=0.910
python-dotenv[cli]~=0.19.2
# this is not pyright itself, but the python wrapper
pyright==1.1.244

pytest~=7.1.2
pytest-cov~=3.0.0
pytest-asyncio~=0.18.3
looptime~=0.2
