-r requirements_tools.txt

## type checking
typing_extensions~=4.2.0
# this is not pyright itself, but the python wrapper
pyright==1.1.254


## linting
slotscheck~=0.14.0


## pytest
pytest~=7.1.2
pytest-cov~=3.0.0
pytest-asyncio~=0.18.3
looptime~=0.2
coverage[toml]~=6.3.2
