pre-commit~=2.19.0
taskipy~=1.10.1

# changelog
towncrier==22.8.0

# checks MANIFEST.in + sdist
check-manifest==0.48

# run codemods on the respository (mostly automated typing)
libcst~=0.4.7
black==22.6.0 # used by libcst
