docutils>=0.17
sphinx==5.2.3
sphinxcontrib-trio~=1.1.2
sphinx-hoverxref @ git+https://github.com/readthedocs/sphinx-hoverxref@cdfa6fd8dce638f3e1d1d80b07b4cf2b1530a7fe
sphinx-autobuild~=2021.3
sphinxcontrib-towncrier==0.3.0a0
towncrier==22.8.0
sphinx-notfound-page==0.8.3
