-r requirements_tools.txt

## type checking
typing_extensions~=4.2.0
# this is not pyright itself, but the python wrapper
pyright==1.1.271
# only used for type-checking, version does not matter
pytz

## test bot
python-dotenv~=0.20.0

## linting
slotscheck~=0.15.0
flake8~=4.0.1
flake8-bandit~=3.0.0
flake8-bugbear==22.7.1
flake8-comprehensions~=3.10.0
flake8-noqa~=1.2.5
flake8-pytest-style~=1.6.0

## pytest
pytest~=7.2.0
pytest-cov~=4.0.0
pytest-asyncio~=0.20.3
looptime~=0.2
coverage[toml]~=6.5.0
