# SPDX-License-Identifier: MIT

name: Create Release PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The new version number, e.g. `1.2.3`."
        type: string
        required: true

permissions: {}

jobs:
  create-release-pr:
    name: Create release PR
    runs-on: ubuntu-latest

    env:
      VERSION_INPUT: ${{ inputs.version }}

    steps:
      # https://docs.github.com/en/apps/creating-github-apps/authenticating-with-a-github-app/making-authenticated-api-requests-with-a-github-app-in-a-github-actions-workflow
      - name: Generate app token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          persist-credentials: false

      - name: Set git name/email
        env:
          GIT_USER: ${{ vars.GIT_APP_USER_NAME }}
          GIT_EMAIL: ${{ vars.GIT_APP_USER_EMAIL }}
        run: |
          git config user.name "$GIT_USER"
          git config user.email "$GIT_EMAIL"

      - name: Set up environment
        uses: ./.github/actions/setup-env
        with:
          python-version: 3.10

      - name: Install dependencies
        run: uv sync --no-default-groups --group changelog

      - name: Update version
        run: |
          python scripts/ci/versiontool.py --set "$VERSION_INPUT"
          git commit -a -m "chore: update version to $VERSION_INPUT"

      - name: Build changelog
        run: |
          uv run towncrier build --yes --version "$VERSION_INPUT"
          git commit -a -m "docs: build changelog"

      - name: Create pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725  # v8.0.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
          branch: auto/release-v${{ inputs.version }}
          delete-branch: true
          title: "chore(release): v${{ inputs.version }}"
          body: |
            Automated release PR, triggered by @${{ github.actor }} for ${{ github.sha }}.

            ### Tasks
            - [ ] Add changelogs from backports, if applicable.
            - [ ] Once merged, create + push a tag.

            <sub>https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}</sub>
          labels: |
            t: release
          assignees: |
            ${{ github.actor }}
