# SPDX-License-Identifier: MIT

name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read

jobs:
  # Builds sdist and wheel, runs `twine check`, and uploads artifacts.
  build:
    name: Build package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: '0'
          persist-credentials: false

      - name: Set up environment
        id: setup
        uses: ./.github/actions/setup-env
        with:
          python-version: 3.10

      - name: Run build scripts
        run: |
          nox -s release-build

      - name: Show metadata
        run: |
          mkdir out/
          tar -xf dist/*.tar.gz -C out/

          echo -e "<details><summary>Metadata</summary>\n" >> $GITHUB_STEP_SUMMARY
          cat out/*/PKG-INFO | sed 's/^/    /' | tee -a $GITHUB_STEP_SUMMARY
          echo -e "\n</details>\n" >> $GITHUB_STEP_SUMMARY

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: dist/
          if-no-files-found: error


  # Ensures that git tag and built version match.
  validate-tag:
    name: Validate tag
    runs-on: ubuntu-latest
    needs:
      - build
    env:
      GIT_TAG: ${{ github.ref_name }}
    outputs:
      bump_dev: ${{ steps.check-dev.outputs.bump_dev }}

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Compare sdist version to git tag
        run: |
          mkdir out/
          tar -xf dist/*.tar.gz -C out/

          SDIST_VERSION="$(grep "^Version:" out/*/PKG-INFO | cut -d' ' -f2-)"
          echo "git tag: $GIT_TAG"
          echo "sdist version: $SDIST_VERSION"

          if [ "$GIT_TAG" != "v$SDIST_VERSION" ]; then
            echo "error: git tag does not match sdist version" >&2
            exit 1
          fi

  # Creates a draft release on GitHub, and uploads the artifacts there.
  release-github:
    name: Create GitHub draft release
    runs-on: ubuntu-latest
    needs:
      - build
      - validate-tag
    permissions:
      contents: write  # required for creating releases

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Calculate versions
        id: versions
        env:
          GIT_TAG: ${{ github.ref_name }}
        run: |
          # v1.2.3 -> v1-2-3 (for changelog)
          echo "docs_version=${GIT_TAG//./-}" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe  # v2.4.2
        with:
          files: dist/*
          draft: true
          body: |
            TBA.

            **Changelog**: https://docs.disnake.dev/en/stable/whats_new.html#${{ steps.versions.outputs.docs_version }}
            **Git history**: https://github.com/${{ github.repository }}/compare/vTODO...${{ github.ref_name }}


  # Creates a PyPI release (using an environment which requires separate confirmation).
  release-pypi:
    name: Publish package to pypi.org
    environment:
      name: release-pypi
      url: https://pypi.org/project/disnake/
    runs-on: ubuntu-latest
    needs:
      - build
      - validate-tag
    permissions:
      id-token: write  # this permission is mandatory for trusted publishing

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Upload to pypi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          print-hash: true
